spring:
  application:
    name: flylink

  datasource:
    url: jdbc:postgresql://localhost:5432/flylink
    username: flylink
    password: flylink123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: false

# Configurações da aplicação
app:
  base-url: http://localhost:8080

# Swagger UI
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
